<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.nickficano.reincarnation.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/bash</string>
		<string>reincarnation</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>$HOME/Library/Logs/com.nickficano.reincarnation.log</string>
	<key>StandardOutPath</key>
	<string>$HOME/Library/Logs/com.nickficano.reincarnation.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>$HOME/Library/com.nickficano/reincarnation</string>
</dict>
</plist>
